<div>
  <form class="form-inline">
    <div class="form-group">
      <label for="text"><h4 class="brown">Add a Tag:</h4></label>
      {{input type=text class="form-control" value=text id="text" placeholder="i.e. happy"}}
    </div>
    <button class="btn btn-sm theme2"{{action 'saveTag1'}}>Save</button>
  </form>
</div>
