<li>
  <div class="well lightblue">
    <h4>{{response.author}} says...</h4>
    <p>{{response.content}}</p>
    <button class="btn btn-danger" {{action 'delete' response}}>Delete this Response</button>
    {{update-response response=response update="update"}}
  </div>
</li>
