<div class="container">
  <nav class="navbar navbar-light">
    <ul class="nav navbar-nav navbar-left">
      <li>{{#link-to 'index'}}<h4 class="brown">Home</h4>{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>{{#link-to 'about'}}<h4 class="brown">About</h4>{{/link-to}}</li>
    </ul>
  </nav>
  <div class="jumbotron"></div>
</div>
<div class="container">
  {{outlet}}
</div>
<div class="footer">
  <p>&copy; 2016 Molly McGlone</p>
</div>
