<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h4>Feeling blue? Happy as a clam? No matter your situation, country music makes it all better!  Request help for yourself below or click on a pending request to help someone else.</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-1">
      <ul>
        {{#each model.questions as |question|}}
          {{question-tile question=question}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-3 tags">
      {{by-tags tags=model.tags}}
    </div>
  </div>

  <div class="row"><br>
    <div class="col-sm-8 col-sm-offset-2">
      {{new-question save2="save3"}}
    </div>
  </div>

  <div class="row"><br>
    <div class="col-sm-8 col-sm-offset-2">
      {{display-favorites}}
    </div>
  </div>
</div>
