<div class="container">
  <div class="col-sm-6 col-sm-offset-1">
    <ul>
      {{#each model.questions as |question|}}
        {{#link-to 'question' question.id}}
          <h3>{{question.title}}</h3>
          <p>{{question.author}}</p>
        {{/link-to}}
      {{/each}}
    </ul>
    {{new-question save2="save3"}}
  </div>

  <div class="col-sm-4">
    {{by-tags tags=model.tags}}
  </div>
</div>
